/* Base styles */
:root {
  --primary-font: Roboto, sans-serif;
  --link-logo-font: Raleway, sans-serif;
  --primavery-logo-color: #4d5ae5;
  --primavery-logo-color: #2e2f42;
  --primary-black-color: #212121;
  --primary-white-color: #ffffff;
  --primary-accent-color: #4d5ae5;
  --secondary-accent-color: #e7e9fc;
  --primary-navyblue-color: #2e2f42;
  --primary-slate-color: #434455;
  --active-link-color: #404bbf;
  --light-background-color: #f4f4fd;
  --light-background-color: #2e2f42;
  --primavery-background-btn-color: #f4f4fd;
  --primavery-list-color: #2e2f42;
  --primavery-doing-title: #2e2f42;
  --primavery-team-title: #2e2f42;
  --primavery-team-text: #434455;
  --primavery-footer-text: #f4f4fd;
  --primavery-page-color: #404bbf;
  --primavery-address-color: #434455;
  --primavery-header-color: #434455;
  --primavery-filter-btn-color: #4d5ae5;
  --primavery-background-filter-color: #f4f4fd;
  --primavery-caption-color: #2e2f42;
  --primavery-border-color: 1px solid #e7e9fc;
  --primavery-custtitle-color: #2e2f42;
  --primavery-cust-icon-color: #8e8f99;
  --primavery-soc-link-team-background-color: #4d5ae5;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-start {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
button {
  font-family: inherit;
  cursor: pointer;
}
.header-start {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container-header {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style: none;
  line-height: 1.17;
  margin-right: 76px;
  position: relative;
  color: #404bbf;
}
.header-logo-dark {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  text-transform: uppercase;
  color: #2e2f42;
}

.pages-list {
  display: flex;
  gap: 40px;
}
.pages-list-item {
  gap: 40px;
}

.pages-list-link {
  color:  #434455;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: #2e2f42;
  list-style: none;
  padding: 24px 0;
  display: block;
  position: relative;  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pages-list-link.current::after {
  content: '';
  position: absolute;
  left: 0;  
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  flex-shrink: 0;
  bottom: -1px;
  background-color: #404bbf;
  
}
.pages-list-link.current,
.pages-list-link:hover,
.pages-list-link:focus {
  color: #404bbf;
}


/* Header address */

.header-address {
  font-style: normal;
  margin-left: auto;
  gap: 40px;
}
.header-address-list {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-list-item {
  color: #434455;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-list-item:hover,
.header-address-list-item:focus {
  color: #404bbf;
}
.address-list {
  display: flex;
  gap: 40px;
}

/* Hero */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.hero-title {
  color: var(--white, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-right: auto;
  margin-left: auto;
  max-width: 496px;
  margin-bottom: 48px;
}
.hero-list-btn {
  color: var(--white, #fff);
  /* Button Text */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  font-family: inherit;
  border: none;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-list-btn:hover,
.hero-list-btn:focus {
  background-color: #404bbf;
}

/* Indicators */

.indicators-section-list {
  padding: 120px 0;
}

.indicators-list {
  display: flex;
  gap: 24px;
}
.indicators-list-caption {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.indicators-icon-list {
  width: calc((100% - 72px) / 4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.indicators-list-icon {
  display: flex;
}

.indicators-list-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* We are doing */
.doing {
  padding-bottom: 120px;
}
.list-doing-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1.11;
  margin-bottom: 72px;
}
.list-doing_do {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.doing-list-list {
  display: flex;
  gap: 24px;
}

.doing-list-img {
  width: calc((100% - 72px) / 4);
}

/* Team card */

.team {
  padding: 120px 0;
  background: var(--cloud, #F4F4FD);
}
.team-card-container {
}

.team-title-list {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  background-color: #ffffff;
  margin-bottom: 72px;
}
.team-list { 
  display: flex;
  gap: 24px;  
              
}
.team-list-photo { 
 border-radius: 0px 0px 4px 4px;
 box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
  0px 1px 1px 0px rgba(46, 47, 66, 0.16),
   0px 1px 6px 0px rgba(46, 47, 66, 0.08);
width: calc(100%-72px)/4;  
} 
.team-content-wrp {
  padding: 24px 0;
}

.team-list-position {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;  
}

.team-list-text {
  margin-bottom: 8px;
  text-align: center;
}
.social-list {
  display: flex;  
  gap: 24px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-team-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-team-link:hover,
.social-team-link:focus {
  background-color: #404bbf;
}
.social-team-icon {
  fill: #f4f4fd;
}

/* Customers section */
.customers-section-link {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers-link-icon {
  display: flex;
  gap: 24px;
}
.customers-social-icon {
  width: calc((100% - 120px) / 6);
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.icon-customers-link {
  width: 100%;
  fill: currentColor;
}

/* Footer */
.footer-finish {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo-link {
  color: var(--iris, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style: none;
  line-height: 1.17;
  background-color: #2e2f42;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-dark {
  text-transform: uppercase;
  color: #2e2f42;
  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-page-text {
  color: var(--cloud, #f4f4fd);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  border: none;
  max-width: 264px;
}
/* Modal window  */
.backrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.5);
}

.backrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotateX(-50%) translateY(-50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
}
.modal-btn-icon {
  color: rgba(46, 47, 66, 1);
  flex-shrink: 0;
}
/* Portfolij */

.container-section-main {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* Filter */

.filters-section-filter {
  padding-top: 96px;
  padding-bottom: 120px;
}
.container-section-filter {
  align-items: center;
  gap: 24px;
}
.btn-list-filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-list-btn-list {
  text-align: center;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  background: #f4f4fd;
  justify-content: center;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.filter-list-btn-list:hover,
.filter-list-btn-list:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

/* Projects */
.projects-card-worker {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.projects-card-link {
  list-style: none;
  text-decoration: none;
  width: calc((100% - 48px) / 3);
}

.container-projects-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.projects-card-caption {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.projects-card-list-text {
  color: var(--slate, #434455);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
